@charset "UTF-8";

body{
background-image: linear-gradient(to right, #012E40,#024959)
}

main{
    background-color: #F2E3D5;
    ;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);

}

h1{
    text-align: center;
}
p{
    text-align: justify;
}